@model Models.ViewModels.UserListViewModel
@{
    ViewData["Title"] = "User page";
}

<h1>User List</h1>

<script type="text/javascript">
    function SortTable(sortColumn, sortDirection) {
        $.ajax({
            async: false,
            url: "@Url.Action("Sort")",
            data: { sortColumn: sortColumn, sortDirection: sortDirection },
            type: 'GET',
            success: function(data)
            {
                @Model.UserResults.Sorting.SortDirection = sortDirection;
                $("#theTable").html(data);
            }
        });
    }
</script>

<div class="text-center">
    <h1 class="display-4">User List</h1>

    <a asp-action="Create">Create User</a>

    <partial name="_UserResults" for="@Model.UserResults" />



</div>